@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  height: 100dvh;
}

.section {
  min-height: 90dvh;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.ql-editor {
  min-height: 200px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #ccc;
  color: #007bff;
  cursor: pointer;
}

.page-link:hover {
  background-color: #f1f1f1;
}


.textSmall1 {
  font-size: clamp(10px, 0.8vw, 13px);
}
.textSmall {
  font-size: clamp(10px, 1vw, 13px);
}
.textSmall2 {
  font-size: clamp(11px, 1.5vw, 14px);
}
.textSmall3 {
  font-size: clamp(12px, 1.8vw, 16px);
}
.textNormal {
  font-size: clamp(11px, 2vw, 21px);
}
.textNormal2 {
  font-size: clamp(14px, 2.5vw, 18px);
}
.textNormal3 {
  font-size: clamp(14px, 2.8vw, 22px);
}
.textNormal4 {
  font-size: clamp(19px, 2.8vw, 24px);
}
.textNormal5 {
  font-size: clamp(22px, 3vw, 32px);
}
.textBig {
  font-size: clamp(22px, 3vw, 40px);
}
.textBig2 {
  font-size: clamp(30px, 3.5vw, 40px);
}
.textBig3 {
  font-size: clamp(50px, 3.5vw, 59px);
}